venv/
_mini-swe-agent
_results
.vscode

# mini-swe-agent project
# Architecture-Smell-Detection-using-Agents/

# Codex project
codex/data/repositories/*

# Result
results/repositories/*

# Metrics and Dependencies project
metrics_deps/data/repositories/*
!metrics_deps/data/repositories/.gitkeep
metrics_deps/data/processed/consolidated_detection
metrics_deps/data/processed/metrics
metrics_deps/data/processed/results
metrics_deps/data/processed/prompts
metrics_deps/data/sample
metrics_deps/data/samples
metrics_deps/tools/llms/*
metrics_deps/_old
!metrics_deps/tools/llms/.gitkeep

# Raw code project
raw_code/data/repositories/*
!raw_code/data/repositories/.gitkeep
raw_code/data/processed/candidates
raw_code/data/processed/candidates_sampled
raw_code/data/processed/metrics
raw_code/data/processed/prompts
raw_code/data/processed/results
raw_code/tools

venv/

clean_generated_data.sh
config.yml
upload_zenodo.py

__pycache__/
*.pyc
*.pyo

agents/data/repositories/*

.env