venv/

__pycache__/
*.pyc
*.pyo

metrics_deps/data/repositories/*
!metrics_deps/data/repositories/.gitkeep

metrics_deps/tools/llms/*
!metrics_deps/tools/llms/.gitkeep

raw_code/data/repositories/*
!raw_code/data/repositories/.gitkeep

raw_code/data/clean_repos/*
!raw_code/data/clean_repos/.gitkeep

raw_code/data/processed/prompts

project_aux/*

.env
