venv/

__pycache__/
*.pyc
*.pyo

metrics_deps/data/repositories/*
!metrics_deps/data/repositories/.gitkeep

metrics_deps/tools/llms/*
!metrics_deps/tools/llms/.gitkeep

raw_code/data/repositories/*
!raw_code/data/repositories/.gitkeep

agents/data/repositories/*

raw_code/data/processed/prompts

codex/data/repositories/*

.env
